<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="./assets/skin/default_skin/css/theme.css">

	<link rel="stylesheet" type="text/css" href="./assets/admin-tools/admin-forms/css/admin-forms.css">

	<link rel="shortcut icon" href="assets/img/favicon.ico">

    <title><%= title %></title>
   
    <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->

 
  </head>
  <body class="external-page sb-l-c sb-r-c">

    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <!-- Begin: Content -->
            <section id="content">

                <div class="admin-form theme-info" id="login1" style="width: 600px;">

                    <div class="row mb15 table-layout">

                        <div class="col-xs-6 va-m pln">
                        </div>

                        <div class="col-xs-6 text-right va-b pr5">
                            <div class="login-links">
                                <a href="pages_register.html" class="active" title="Register">注册</a>
                            </div>

                        </div>

                    </div>

                    <div class="panel panel-info mt10 br-n">

                        <div class="panel-heading heading-border bg-white">
                            <div class="section row mn">

                                <% if (typeof errorMsg == 'undefined' || errorMsg == '') { %>
	                                <div class="col-sm-12">
	                                    <a href="javascript:void(0);" class="button btn-social twitter mr5 btn-block" style="font-size: 24px;">
	                                        webFront
	                                    </a>
	                                </div>
								<% } else { %>
	                                <div class="col-sm-12">
	                                    <a id="errorMsg" href="javascript:void(0);" class="button btn-social googleplus  btn-block" style="font-size: 24px;">
	                                        <%= errorMsg %>
	                                    </a>
	                                </div>
                                <% } %>
                            </div>
                        </div>

                        <!-- end .form-header section -->
                        <form method="post" action="/login/post" id="contact">
                            <div class="panel-body bg-light p30">
                                <div class="row">
                                    <div class="col-sm-12 pr30">

                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">账号</label>
                                            <label for="username" class="field prepend-icon">
                                                <input type="text" name="username" id="username" class="gui-input" placeholder="请输入账号">
                                                <label for="username" class="field-icon"><i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">密码</label>
                                            <label for="password" class="field prepend-icon">
                                                <input type="password" name="password" id="password" class="gui-input" placeholder="请输入密码">
                                                <label for="password" class="field-icon"><i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                    </div>
                                </div>
                            </div>
                            <!-- end .form-body section -->
                            <div class="panel-footer clearfix p10 ph15">
                                <button type="submit" class="button btn-primary mr10 pull-right">登陆</button>
                                <label class="switch block switch-primary pull-left input-align mt10">
                                    <input type="checkbox" name="remember" id="remember" checked>
                                    <label for="remember" data-on="YES" data-off="NO"></label>
                                    <span>记住我</span>
                                </label>
                            </div>
                            <!-- end .form-footer section -->
                        </form>
                    </div>
                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- jQuery -->
    <script type="text/javascript" src="./vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="./assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Page Plugins -->
    <script type="text/javascript" src="./assets/js/pages/login/EasePack.min.js"></script>
    <script type="text/javascript" src="./assets/js/pages/login/rAF.js"></script>
    <script type="text/javascript" src="./assets/js/pages/login/TweenLite.min.js"></script>
    <script type="text/javascript" src="./assets/js/pages/login/login.js"></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src="./assets/js/utility/utility.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
    <!-- <script type="text/javascript" src="./assets/js/demo.js"></script> -->

    <!-- Page Javascript -->
    <script type="text/javascript">
        $(function() {

            "use strict";

            // Init Theme Core      
            Core.init();

            // Init Demo JS
            //Demo.init();

            // Init CanvasBG and pass target starting location
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 3.3
                },
            });


        });
    </script>

    <!-- END: PAGE SCRIPTS -->

 </body>



</html>

